*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	background-color: #00BFFF;
	margin-bottom: 15px
}

table{
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	border-collapse: collapse;
	text-align: center;
}

table th,
table td{
	border-bottom: 1px solid #008000;
	padding: 10px 20px;
}

table>thead{

	background-color: #228B22;
	border-bottom: 1px;
}

.action_buttons{
	display: flex;
	gap: 10px;
}

.action_buttons>a{
	text-decoration: none;
	color: black;
	background: #fff;
	border: 1px solid;
	display: inline-block;
	padding: 7px 8px;
	font-weight: bold;
	border-radius: 10px;
}

.action_buttons>a:nth-child(1){
	background: #20B2AA;
}

.action_buttons>a:nth-child(2){
	background: red;
}

.action_buttons>a:nth-child(3){
	background: orange; 
}

.add_body{
	margin-left: auto;
	margin-right: auto; 
}

